.contact-sec-area {
  background: url("/assets/home/contactImg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 2rem;
  border-radius: 16px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 576px) {
    padding: 0 1rem;
  }
  .content_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .main_sec_heading {
      font-size: 45px;
      color: #fff;
      margin-bottom: 1rem;
    }
    .theme_btn {
      text-decoration: none;
    }
  }
}
