@import "node_modules/react-modal-video/scss/modal-video.scss";
.about_community_sec {
  figure {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
    border-radius: 16px;
    height: 450px;
    @media (max-width: 576px) {
      height: 350px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  .icon_wrape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-self: center;
    align-items: center;
    cursor: pointer;
    .icon_style {
      color: #fff;
    }
  }
}
