.partners_sec {
  .partners_item {
    padding: 0 1.5rem;
    border-right: 1px solid rgba(0, 0, 0, 0.16);
    .img_wrape {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
