.footer-area {
  background: #000000;
  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        &:hover {
          color: #fff;
          font-weight: 600;
        }
      }
    }
  }
  .social-icons {
    li {
      margin: 0;
      font-size: 20px;
    }
  }

  .form-control {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: calc(0.375rem + 2px) calc(0.75rem + 2px);
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }
    &:focus {
      box-shadow: none;
      border: 1px solid #b22b39;
    }
  }

  .form_error_msg {
    color: #b22b39;
    font-size: 14px;
    font-weight: 500;
  }

  .theme_btn {
    width: 100%;
  }

  .more_info {
    .accordion {
      border: none;
      .accordion-item {
        background: transparent;
        color: rgba(255, 255, 255, 0.8);
        border: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        .accordion-header {
          .accordion-button {
            background: transparent;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            line-height: 150%;
            border: none;
            padding: 0;
            &::after {
              background-image: url("/assets/icons/arrow-drop.png");
            }
            &:not(.collapsed),
            &:focus {
              box-shadow: none;
              background: transparent;
            }
            &.accordion-collapse,
            &.collapse,
            &.show {
              border: none;
            }
          }
        }
        .accordion-body {
          padding: 1.5rem 0 0 0;
          .hidden_content_wrap {
            padding-right: 0.5rem;
            max-height: 200px;
            overflow-y: auto;
            /* Custom Scrollbar style */
            &::-webkit-scrollbar {
              width: 8px;
            }

            &::-webkit-scrollbar-track {
              background: #333;
              border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
              background: #eee;
              border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb:hover {
              background: #eee;
            }
            h3 {
              color: #fff;
              font-size: 18px;
              line-height: 140%;
              margin-bottom: 1rem;
              font-weight: 600;
              text-transform: capitalize;
            }
            h4 {
              color: #fff;
              font-size: 16px;
              line-height: 140%;
              margin-bottom: 1rem;
              font-weight: 600;
              text-transform: capitalize;
            }
            p {
              font-size: 14px;
              font-weight: 400;
              line-height: 140%;
              color: #fff;
              margin-bottom: 1rem;
              text-align: justify;
              a {
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                line-height: 140%;
                font-weight: 500;
                &:hover {
                  color: #b22b39;
                }
              }
            }
            ul,
            ol {
              li {
                color: #fff;
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 0.5rem;
                font-weight: 400;
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    @media (max-width: 768px) {
      justify-content: center;
    }
    p {
      margin: 0;
      font-size: 14px;
      line-height: 150%;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.8);
    }
    a {
      font-size: 14px;
      line-height: 150%;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #fff;
        font-weight: 600;
      }
    }
  }
}
