.contact-info-area {
  .contact-item {
    .icon-style {
      font-size: 40px;
      color: #b22b39;
    }
    .sub_heading {
      margin: 1rem 0;
    }
    .para_comm {
      margin-bottom: 1rem;
    }
    a {
      font-size: 16px;
      font-weight: 500;
      line-height: 160%;
      color: #000;
      text-decoration: none;
      &:hover {
        color: #b22b39;
      }
    }
  }
}
