.educational_webinar_sec {
  .slider_arrows {
    margin-top: 2rem;
    text-align: right;
  }
  .edu_item {
    padding: 0 0.5rem 0.5rem 0.5rem;
    &:hover {
      figure::before {
        opacity: 1;
      }
    }
    figure {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 300px;
      margin: 0;
      border-radius: 16px;
      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        background: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content_sec {
      .sub_heading {
        margin: 1rem 0 0.5rem 0;
      }
      .para_comm {
        margin-bottom: 0.5rem;
      }
      .slider_btn {
        .theme_btn2,
        .theme_btn3 {
          width: 100%;
          font-size: 14px;
          @media screen and (max-width: 1280px) {
            padding: 0.5rem 0.8rem;
          }
        }
      }
    }
  }
}
